.card {
  display: flex;
  width: 280px;
  position: relative;
  text-align: center;
  margin: 20px;
}

.MuiCardMedia-root {
  width: 260px;
  height: 380px;
}

.card .content {
  padding: 0;
}

.title {
  margin-top: 0.7rem !important;
  font-size: 22.5px !important;
  font-weight: bold !important;
}

.price {
  font-size: 22.5px;
}

.actions-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card:hover .add-button,
.card:hover .view-button {
  opacity: 1;
}

.card:hover .add-button {
  left: 90px;
}

.card:hover .view-button {
  right: 90px;
}

.card .add-button {
  position: absolute;
  bottom: 125px;
  left: 20px;
  background-color: #000000bd;
  opacity: 0;
  z-index: 1;
  transition: all 0.4s;
}

.card .add-button:hover {
  background-color: #000000;
}

.card .add-button svg {
  color: #ffffff;
  font-size: 25px;
}

.card .view-button {
  position: absolute;
  bottom: 125px;
  right: 20px;
  background-color: #000000bd;
  opacity: 0;
  z-index: 1;
  transition: all 0.4s;
}

.card .view-button:hover {
  background-color: #000000;
}

.card .view-button svg {
  color: #ffffff;
  font-size: 25px;
}
