.MuiAppBar-colorPrimary.custom-navbar {
  background-color: white;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: center;
}

.cart-wrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.cart-wrapper h2 {
  margin: 0;
  font-size: 25px;
  color: orangered;
}

.custom-navbar .custom-title {
  display: flex;
}

.custom-navbar .custom-title .logo {
  width: 60px;
}

.cart-wrapper .custom-cart {
  font-size: 35px;
  color: rgb(0, 0, 0);
}

nav {
  width: 100%;
  text-align: center;
}

nav .nav_a {
  margin: 0 25px;
  font-size: 18px;
  padding: 10px;
  color: #111111;
  text-decoration: none;
  transition: all 0.4s;
}

nav .nav_a:hover {
  color: orangered;
}
