.MuiAppBar-colorPrimary.custom-navbar {
  background-color: black;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: center;
}

.cart-wrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.cart-wrapper h2 {
  margin: 0;
  font-size: 25px;
  color: #ffff4d;
}

.custom-navbar .custom-title {
  display: flex;
}

.custom-navbar .custom-title .logo {
  width: 70px;
}

.cart-wrapper .custom-cart {
  font-size: 35px;
  color: white;
}

nav {
  margin-left: 10px;
}

nav .nav_a {
  margin-left: 20px;
  font-size: 18px;
  padding: 5px;
  color: #dedede;
  text-decoration: none;
}

nav .nav_a:hover {
  color: white;
}
